body {
	/* top | right | bottom | left */
	/* margin: 0 auto; */
	background-color: #d3d3d3;
}

.answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}

.answer.hidden {
	max-height: 500px; /* Adjust based on content size */
}

.hidden {
	display: none;
}

.attribution {
	font-size: 16px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.heroTitle {
	font-size: 2rem;
	font-weight: 700;
}

.pointerHero {
	cursor: pointer;
}

.wrapper {
	margin-top: -13em;
	width: 40em;
	font-size: 1em;
	margin-left: 20em;
	position: relative;
	padding: 2em;
	background-color: #ffffff;
	border-radius: 2em;
}

.heroWrapper {
	display: flex;
	flex-direction: column;
}

.answer {
	color: gray;
}
