body {
	background-color: #d3d3d3;
}

.attribution {
	font-size: 16px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.heroTitle {
	font-size: 2rem;
	font-weight: 700;
}

.pointerHero {
	cursor: pointer;
}

.tipTop img {
	background-image: top;
}
/* .mainText {
	font-size: 1.1em;
} */

.wrapper {
	margin-top: 12em;
	width: 40em;
	font-size: 1em;
	align-self: center;
	position: absolute;
	padding: 2em;
	background-color: #ffffff;
	border-radius: 2em;
}

.heroWrapper {
	display: flex;
	flex-direction: column;
}

.subText {
	color: gray;
}
